apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
  creationTimestamp: null
  generation: 3
  labels:
    app: openldap
  name: openldap
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: openldap
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: openldap
    spec:
      serviceAccountName: ivia-anyuid
      containers:
      - args:
        - --copy-service
        env:
        - name: LDAP_DOMAIN
          valueFrom:
            secretKeyRef:
              name: openldap
              key: domain
        - name: LDAP_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: openldap
              key: admin-password
        - name: LDAP_CONFIG_PASSWORD
          valueFrom:
            secretKeyRef:
              name: openldap
              key: config-password
        image: icr.io/isva/verify-access-openldap:latest
        imagePullPolicy: IfNotPresent
        name: openldap
        livenessProbe:
          tcpSocket:
            port: 636
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          tcpSocket:
            port: 636
          initialDelaySeconds: 5
          periodSeconds: 10
        ports:
        - containerPort: 636
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/lib/ldap
          name: openldap-ldaplib
        - mountPath: /etc/ldap/slapd.d
          name: openldap-ldapslapd
        - mountPath: /var/lib/ldap.secAuthority
          name: openldap-ldapsecauthority
        #- mountPath: /container/service/slapd/assets/certs
        #  name: openldap-keys
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - name: openldap-ldapslapd
        persistentVolumeClaim:
          claimName: openldap-ldapslapd
      - name: openldap-ldaplib
        persistentVolumeClaim:
          claimName: openldap-ldaplib
      - name: openldap-ldapsecauthority
        persistentVolumeClaim:
          claimName: openldap-ldapsecauthority
      #- name: openldap-keys
      #  secret:
      #    defaultMode: 420
      #    secretName: ${KEY_SECRET}
