apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: openldap
  name: openldap
spec:
  ports:
  - name: ldaps
    port: 636
    protocol: TCP
    targetPort: 636
  - name: ldaps
    port: 389
    protocol: TCP
    targetPort: 389
  selector:
    app: openldap
  sessionAffinity: None
  type: ClusterIP
