apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: automated-config
    files:
      - config/config.yaml
      - config/openldap.pem
      - config/postgresql.pem

generatorOptions:
  disableNameSuffixHash: true

resources:

  - mapping-rules
  - tls

  - ivia-automated-config-job.yaml
  - ivia-automated-config-job-role.yaml
  - ivia-automated-config-job-rb.yaml
  - ivia-automated-config-job-sa.yaml
