apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - operators/operator-project.yaml
  - operands/operand-project.yaml
  
  - ibm-verify-argo-role.yaml
  - ibm-verify-argo-rb.yaml

  - common.yaml

  - operators/all-operators.yaml
  - operands/all-operands.yaml

  - autoconfig.yaml
  - postgresql.yaml
  #- openldap.yaml
  #- verify-directory.yaml
  #- phpldapadmin.yaml
  - demo.yaml
 
patches:
- target:
    group: argoproj.io
    kind: Application
    labelSelector: group=applications
  patch: |-
    - op: add
      path: /spec/source/repoURL
      value: https://github.com/Nordic-MVP-GitOps-Repos/ibm-verify-gitops.git
    - op: add
      path: /spec/source/targetRevision
      value: HEAD
- target:
    group: argoproj.io
    kind: ApplicationSet
  patch: |-
    - op: add
      path: /spec/template/spec/source/repoURL
      value: https://github.com/Nordic-MVP-GitOps-Repos/ibm-verify-gitops.git
    - op: add
      path: /spec/template/spec/source/targetRevision
      value: HEAD
